<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <!-- Tailwindcss -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        background: {
                            backBody: `linear-gradient(
                                        169.15deg,
                                        #0a1830 - 6.04 %,
                                        #0d244c 26%,
                                        #16356e 56.98%,
                                        #2e57a4 83.53%,
                                        #7096db 114.51%
                                    )`,
                        }
                    }
                }
            }
        </script>

        <!-- Additional CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/app.css') }}">
        <title>GENDER DETECTION</title>
    </head>

    <body>
        <div class="contain flex items-center justify-center min-h-screen flex-col">
            <h1 class="text-4xl mb-4">GENDER DETECTION</h1>
            <div class="video_preview flex items-center justify-center">
                {% block content %}
                <img class="border-4 rounded-lg border-[#8773CB40] shadow-md" src="{{ url_for('genderVideo') }}">
                {% endblock %}
            </div>
        </div>
    </body>

</html>